head
  title Gem Check — Writing Better Ruby Gems Checklist
  meta(
    name="viewport"
    content="width=device-width"
  )
  meta(
    charset="UTF-8"
  )
  link(
    rel="stylesheet"
    href="./main.css"
  )
  include meta
  block styles
